*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive;
    
}
.sidebar{
    margin: 0;
    padding: 0;
    background-color: #B3D4E0;
    width: 70px;
    height: 100%;
    position: fixed;
    overflow: auto;
}
.icons{
    margin: 30px 0;
}
.sidebar a{
    text-align: center;
    padding: 16px;
}
.sidebar .logodiv{
    padding: 6px;
    width: 10px;
    text-align: center;
}
.sidebar a img{
    width: 30px;
    background-color: #ED48BA; 
    border-radius: 50%;
    padding: 5px;
}
a .bottom-icons{
    color:  #B3D4E0 !important;
    display: block;
}
main{
    margin-left: 70px;
    height: 100vh;
    background-color: #0392BF;
    padding: 30px 16px;
}
.nav_container .navbar{
    padding: 0 20px;
}
.nav_container a{
    text-decoration: none;
    color: #B3D4E0;
    padding: 0 10px;
}
.container{
    display: flex;
    padding: 30px 40px;
    margin-top: 20px;
}
.container img{
    height: 500px;
    width: 600px;
}
.container_image{
    object-fit: contain;
    align-self: flex-start;
}
.image_text{
    position: absolute;
    bottom: 140px;
    left: 280px;
    color: #fff;
    font-size: 40px;
    font-family: monospace;
}
.inner_text{
    margin-left: 50px;
}
.container_text{
    flex: 1 1 auto;
    color: #fff;
}
.first-text h2,p{
    padding: 10px 0;
}
.underline_text{
    text-decoration: underline;
}
.circles span{
        border: 1px solid #fff;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        display: inline-block;
        margin: 0 10px;
}
.circle1{
    background-color:  #0392BF;
    border: 1.5px solid #fff;
    width: 28px;
}
.circle2{
    background-color: #ED48BA;
}
.circle3{
    background-color: #FBEC06;
}
.circle4{
    background-color: #B3D4E0;
}
.circle1:hover, .circle2:hover, .circle3:hover, .circle4:hover{
    cursor: pointer;
}
.dropdown .select{
    background-color: transparent;
    border: 0.5px solid #B3D4E0;
    color:  #B3D4E0;
    outline: none;
    width: 130px;
}
.button{
    margin-top: 15px;
    width: 180px;
    padding: 7px 0;
    background-color: #ED48BA;
    color: #fff;
    outline: none;
    border: none;
}
.button:hover{
    cursor: pointer;
}
.fa {
    padding: 8px;
    font-size: 15px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 1px auto;
    color:#0392BF;
    display: block;
}
.bottom-icons{
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-left: 10px;
}
.hide-on-desktop{
    display: none;
}
#bluediv{
    background-color: #0392BF;
}
#pinkdiv{
    background-color: #ED48BA;
}
#yellowdiv{
    background-color: #FBEC06;
}
#whitediv{
    background-color: #B3D4E0;
}

@media only screen and (min-width: 280px) and (max-width: 768px){
    .hide-on-mobile{
        display: none;
    }
    main{
        margin-left: 0;
        height: 100%;
        width: 100%;
    }
    .hide-on-desktop{
        display: block;
    }
    .topnav {
        overflow: hidden;
        position: relative;
    }   
    .topnav a {
        color: #B3D4E0;
        padding: 10px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
      
    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background-color: white;
        padding: 10px 16px;
    }
      
    .topnav #myLinks a:hover {
        background-color: #fff;
        color: black;
        cursor: pointer;
    }
    .container{
        display: flex;
        padding: 5px 25px;
        margin-top: 20px;
        flex-direction: column;
    }
    .container img{
        height: 300px;
        width: 100%;
    }
    .image_text{
        bottom: 270px;
        left: 75px;
        font-size: 30px;
    }
    .inner_text{
        margin-left: 50px;
    }
    .sidenav_mobile {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        text-align:center;
    }    
    .sidenav_mobile a {
        padding: 20px 8px 20px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s; 
    }
    .sidenav_mobile .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }    
}

@media only screen and (min-width: 320px) and (max-width: 350px){
    .image_text{
        bottom: 200px;
        left: 55px;
    }
    .first-text h2{
        font-size: 12px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 390px){
    .image_text{
        top: 300px;
        left: 75px;
    }
    .first-text {
        font-size: 15px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 420px){
    .image_text{
        top: 300px;
        left: 95px;
    }
    
}

@media only screen and (min-width: 540px) and (max-width: 600px){
    .image_text{
        top: 300px;
        left: 160px;
    }
    .first-text {
        font-size: 15px;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 780px){
    .image_text{
        top: 300px;
        left: 300px;
    }
    .container_text{
        font-size: 23px;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1030px){
    .image_text{
        top: 440px;
        left: 310px;
    }
    .container_text{
        font-size: 23px;
    }
    .container img{
        height: 500px;
        width: 550px;
    }
}